<?xml version="1.0"?>

<config>
    <modules>
        <Mad_Contact>
            <version>0.1.0</version>
        </Mad_Contact>
    </modules>

    <frontend>
        <routers>
            <ContactFormRoute>
                <use>standard</use>
                <args>
                    <module>Mad_Contact</module>
                    <frontName>contact</frontName>
                </args>
            </ContactFormRoute>
        </routers>
    </frontend>
</config>
